doctype html
html
  head
    meta(charset="utf-8")
    title video test
    script(src="msview.js")
    link(rel="stylesheet", href="msview.css")
  body
    video#main(autoplay)
    video#sub(autoplay)

