video {
  width: 400px;
  height: 300px;
  -webkit-filter: invert(100%);
}
#sub {
  width: 400px;
  height: 300px;
  position: absolute;
  top: 0px;
  left: 400px;
  clip: rect(100, 75, 200, 150);
  -webkit-transform: scale(2);
}
